/*The styling creates rectanglar nav button thats green*/
.left_button a{
    margin: 15px;
    padding: 20px;
    background-color: #14342B;
    border-radius: 12%;
    margin-left: 500px;
    text-decoration: none;
}
/*This create a grey background with items aligned side by side*/
nav{
    padding: 40px;
    background-color:#b7b7b7;
    display: flex;
    align-items: center;
}
/*this sets the width of the logo*/
#logo{
    width: 400px;
}
/*This sets the website the size of the markers screen*/
body{
    width: 1500px;
    margin: 0 auto;
}
/*I made the color white for readability*/
a{
    color: white;
}
/*The styling creates rectanglar nav button thats green*/
.right_button a{
    padding: 20px;
    background-color: #14342B;
    border-radius: 12%;
    text-decoration: none;

}
/*this creates a bcakground for the footer with text aligned to the rigth*/
footer{
    padding: 7px;
    background-color:#DEDEDE;
    text-align: right;
}
/*The imgs are in the center*/
.main_imgs{
    display: flex;
    justify-content: center;
/*The imgs have spacing inbetween*/
}
.food_imgs{
    padding: 10px;
    margin: 10px;
    text-align: center;
}
/*the text box is centered with a dark green and white contrast for readability*/
main{
    text-align: center;
    color: white;
    padding: 20px;
    background-color:#14342B ;
    width: 770px;
    margin: 50px 365px 50px 365px;
}
