.nav_button{
    margin: 15px;
    height: 25px;
    padding: 15px;
    text-decoration: underline;
    background-color: #14342B;
    border-radius: 10%;
    width: 80px;
    margin-left: 500px;
}
nav{
    padding: 40px;
    background-color:#b7b7b7;
    text-align: center;
    display: flex;
}
#logo{
    width: 500px;
}

body{
    width: 1500px;
    margin: 0 auto;
}
a{
    color: white;
}
.right_button{
    padding: 15px;
    margin-top: 15px;
    text-decoration: underline;
    background-color: #14342B;
    border-radius: 10%;
    width: 80px;
    height: 25px;

}
footer{
    padding: 7px;
    background-color:grey;
    text-align: right;
}

.main_imgs{
    display: flex;
    justify-content: center;
}
#breakfast{
    padding: 10px;
    margin: 10px;
    text-align: center;
}
#lunch{
    padding: 10px;
    margin: 10px;
    text-align: center;
}
#dinner{
    padding: 10px;
    margin: 10px;
    text-align: center;
}